<main>

  <h1>Météo !</h1>

  <!-- Formulaire pour rentrer le nom de la ville -->

  <form (ngSubmit)="voirMeteo()">
    <div>
      <label for="ville">Ville:</label>
      <input name="ville" id="ville" type="text" [(ngModel)]="ville">
    </div>
    <button type="submit">Voir la météo</button>
    <button type="button" (click)="voirMeteoLocale()">Voir la météo locale 📍</button>
  </form>

  <!-- Affichage de la météo -->
  <app-meteo-card *ngIf="meteo" [meteo]="meteo"></app-meteo-card>


</main>